<div class="screen-title">WRP - WRP Voucher Detail</div>
<br>

<table width="970" align="center" border="0" cellpadding="0"
	cellspacing="0">
	<tr align="center">
		<p class="title">HONDA OF AMERICA MFG</p>
		<p class="title">WARRANTY CLAIM VOUCHER</p>
	</tr>

</table>

<!--Begining of header table-->
<table width="970" align="center" border="0" cellpadding="0"
	cellspacing="0">
	<!-- Headings Table -->
	<tbody>
		<tr>
			<td>
				<!--voucher description:TITLE-->
				<table width="970" align="left" border="0" cellpadding="0"
					cellspacing="0">
					<tbody>
						<tr>
							<td align="left" class="data">TITLE: N.A.CQ CONTINENTAL
								AUTOMOTIVE SYSTEMS 96ki Quarter - 1</td>

							<td align="left" class="data">VOUCHER # WRP12AJ0119</td>
						</tr>
						<tr>
							<td height="8" colspan="4"><img src="" width="1" height="1"
								border="0"></td>
						</tr>
						<tr>
							<td>RESPONSIBLE SUPPLIER:</td>
							<td></td>
						</tr>
						<br>
						<tr>
							<td align="left" class="data"><p class="underline">John
									Safety</p></td>

							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">CLAIM MONTH:</td>
										<td><p class="underline">07/2015-03/2018</p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="data"><p class="underline">600
									Green Valley Rd.</p></td>
							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">RETURN TO:</td>
										<td><p class="underline">Yuying Wang</p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="data"><p class="underline">Suite
									400</p></td>
							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">PHONE #:</td>
										<td><p class="underline">(937)667-0988</p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="data"><p class="underline">Greensboro
									North Carolina 27408</p></td>
							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">EMAIL:</td>
										<td><p class="underline">yuying_wang@hna.honda.com</p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="data">SUPPLIER #
								<p class="underline">081456</p>
							</td>
							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">ISSUE DATE:</td>
										<td><p class="underline">01/09/2019</p></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td align="left" class="data">ATTENTION:
								<p class="underline">Yuying Wang</p>
							</td>
							<td align="left">
								<table>
									<tr>
										<td align="left" valign="top" width="30%">DUE DATE:</td>
										<td><p class="underline">12/04/2019</p></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>

				<table width="970" align="center" border="0" cellspacing="0"
					cellpadding="0" class="data">
					<tr>
						<td>SIGNATURES:
						<br><br>
						DATE:
						</td>
						<td>
							<div class="div1">SUPPLIER</div>
							<div class="div1">MQ COST</div>
						</td>
					</tr>
					<tr>
					<td></td>
					<td><p>
					Note: Only ONE Signature is required in order to process voucher.</p></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<!--Main voucher table begins-->
				<table width="970" align="center" border="0" cellspacing="0"
					cellpadding="0" class="data">
					<tbody>
						<tr>
							<td colspan="13" align="left">
								<table align="left" border="1" cellspacing="0" width="100%">
									<colgroup>
										<col width="100">
										<col width="30">
										<col width="50">
										<col width="90">
										<col width="125">
										<col width="50">
										<col width="80">
										<col width="70">
										<col width="70">
										<col width="70">
										<col width="71">
										<col width="78">
										<col width="93">
										<col>
									</colgroup>
									<tbody>
										<tr align="center" valign="middle" bgcolor="#FFFFFF">
											<td bgcolor="#D3D9A4" class="colhead">PART#</td>
											<td bgcolor="#D3D9A4" class="colhead">MY</td>
											<td bgcolor="#D3D9A4" class="colhead">MKT</td>
											<td bgcolor="#D3D9A4" class="colhead">MODEL TYPE</td>
											<td bgcolor="#D3D9A4" class="colhead">REPLACEMENT /
												LABOR<!--bean:message
							key="label.header.vchr.summary.replacementOrLabor" /-->
											</td>
											<td bgcolor="#D3D9A4" class="colhead">CLAIMS</td>
											<td bgcolor="#D3D9A4" class="colhead" colspan="5">WARRANTY
												COSTS</td>

											<td bgcolor="#D3D9A4" class="colhead">SUPPLIER RESP</td>
											<td bgcolor="#D3D9A4" class="colhead">SUPPLIER CHARGE</td>
										</tr>
										<tr align="center" valign="middle" bgcolor="#FFFFFF">
											<td bgcolor="#D3D9A4" class="colhead" colspan="6">&nbsp;</td>

											<td bgcolor="#D3D9A4" class="colhead">PARTS</td>
											<td bgcolor="#D3D9A4" class="colhead">LABOR</td>
											<td bgcolor="#D3D9A4" class="colhead">HANDLING</td>
											<td bgcolor="#D3D9A4" class="colhead">OTHER</td>
											<td bgcolor="#D3D9A4" class="colhead">TOTAL</td>
											<td bgcolor="#D3D9A4" class="data" colspan="2"><font
												size="1">* as Fixed Resp Exists ** as force create
													suplr resp pct exists</font></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<!--logic to populated the detail table dynamically-->
						<tr>
							<td colspan="13">

								<div style="overflow: auto; height: 150px">
									<table border="1" width="100%" cellspacing="0" cellpadding="1">
										<colgroup>
											<col width="100">
											<col width="30">
											<col width="50">
											<col width="90">
											<col width="125">
											<col width="50">
											<col width="80">
											<col width="70">
											<col width="70">
											<col width="70">
											<col width="71">
											<col width="78">
											<col width="93">
											<col>


										</colgroup>
										<tbody>
											<tr>
												<td class="data" colspan="13" align="center"><b>HAM</b></td>
											</tr>
											<!--logic to populate voucher line items for respective destination-->




											<tr bgcolor="#FFFFFF">

												<td class="data">72147TX4A01&nbsp;</td>
												<td class="data">2015</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">RDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">1</td>
												<td class="dataLabel">$56.92</td>
												<td class="dataLabel">$28.20</td>
												<td class="dataLabel">$92.14</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$177.26</td>
												<td class="dataLabel" bgcolor="#fafad2">*34.70%</td>
												<td class="dataLabel">$61.51</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TX4A61&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">RDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">7</td>
												<td class="dataLabel">$111.14</td>
												<td class="dataLabel">$28.20</td>
												<td class="dataLabel">$105.21</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$1711.85</td>
												<td class="dataLabel" bgcolor="#fafad2">*25.50%</td>
												<td class="dataLabel">$436.52</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TX4A71&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">RDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">3</td>
												<td class="dataLabel">$111.14</td>
												<td class="dataLabel">$28.20</td>
												<td class="dataLabel">$105.21</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$733.65</td>
												<td class="dataLabel" bgcolor="#fafad2">*25.50%</td>
												<td class="dataLabel">$187.08</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ5A01&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">RDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">7</td>
												<td class="dataLabel">$55.32</td>
												<td class="dataLabel">$42.30</td>
												<td class="dataLabel">$53.87</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$1060.43</td>
												<td class="dataLabel" bgcolor="#fafad2">*25.50%</td>
												<td class="dataLabel">$270.41</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ5A11&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">RDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">10</td>
												<td class="dataLabel">$55.32</td>
												<td class="dataLabel">$42.30</td>
												<td class="dataLabel">$53.87</td>
												<td class="dataLabel" bgcolor="#fafad2">$25.00</td>
												<td class="dataLabel">$1539.90</td>
												<td class="dataLabel" bgcolor="#fafad2">*25.50%</td>
												<td class="dataLabel">$392.67</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">77960T2FA02&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">ACCORD</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">5</td>
												<td class="dataLabel">$100.92</td>
												<td class="dataLabel">$132.00</td>
												<td class="dataLabel">$200.62</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$2167.70</td>
												<td class="dataLabel" bgcolor="#fafad2">*78.10%</td>
												<td class="dataLabel">$1692.97</td>
											</tr>

											<tr>
												<td align="right" class="data" colspan="12">PLANT
													SUBTOTAL</td>
												<td class="dataLabel">$ 3,041.16 <br>
												</td>
											</tr>


											<tr>
												<td class="data" colspan="13" align="center"><b>HMA</b></td>
											</tr>
											<!--logic to populate voucher line items for respective destination-->




											<tr bgcolor="#FFFFFF">

												<td class="data">72147TG7A01&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">PILOT</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">1</td>
												<td class="dataLabel">$33.96</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$32.29</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$102.25</td>
												<td class="dataLabel" bgcolor="#fafad2">*31.10%</td>
												<td class="dataLabel">$31.80</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TG7A11&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">PILOT</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">3</td>
												<td class="dataLabel">$33.96</td>
												<td class="dataLabel">$24.00</td>
												<td class="dataLabel">$37.17</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$285.39</td>
												<td class="dataLabel" bgcolor="#fafad2">*31.10%</td>
												<td class="dataLabel">$88.76</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TG7A31&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">PILOT</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">9</td>
												<td class="dataLabel">$33.96</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$32.29</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$920.25</td>
												<td class="dataLabel" bgcolor="#fafad2">*31.10%</td>
												<td class="dataLabel">$286.20</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TG7A41&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">PILOT</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">4</td>
												<td class="dataLabel">$33.96</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$32.29</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$409.00</td>
												<td class="dataLabel" bgcolor="#fafad2">*31.10%</td>
												<td class="dataLabel">$127.20</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TK8A51&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">ODYSSEY</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">13</td>
												<td class="dataLabel">$41.48</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$40.48</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$1533.48</td>
												<td class="dataLabel" bgcolor="#fafad2">*37.50%</td>
												<td class="dataLabel">$575.06</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TK8A61&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">ODYSSEY</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">3</td>
												<td class="dataLabel">$41.48</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$40.48</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$353.88</td>
												<td class="dataLabel" bgcolor="#fafad2">*37.50%</td>
												<td class="dataLabel">$132.71</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TK8A71&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">ODYSSEY</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">5</td>
												<td class="dataLabel">$41.48</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$40.48</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$589.80</td>
												<td class="dataLabel" bgcolor="#fafad2">*37.50%</td>
												<td class="dataLabel">$221.18</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TK8A81&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">ODYSSEY</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">7</td>
												<td class="dataLabel">$41.48</td>
												<td class="dataLabel">$36.00</td>
												<td class="dataLabel">$40.48</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$825.72</td>
												<td class="dataLabel" bgcolor="#fafad2">*37.50%</td>
												<td class="dataLabel">$309.65</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ5A01&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">MDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">15</td>
												<td class="dataLabel">$55.32</td>
												<td class="dataLabel">$42.30</td>
												<td class="dataLabel">$53.87</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$2272.35</td>
												<td class="dataLabel" bgcolor="#fafad2">*30.80%</td>
												<td class="dataLabel">$699.88</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ5A11&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">MDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">8</td>
												<td class="dataLabel">$55.32</td>
												<td class="dataLabel">$42.30</td>
												<td class="dataLabel">$53.87</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$1211.92</td>
												<td class="dataLabel" bgcolor="#fafad2">*30.80%</td>
												<td class="dataLabel">$373.27</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ6A51&nbsp;</td>
												<td class="data">2015</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">MDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">1</td>
												<td class="dataLabel">$111.16</td>
												<td class="dataLabel">$42.30</td>
												<td class="dataLabel">$105.21</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$258.67</td>
												<td class="dataLabel" bgcolor="#fafad2">*37.20%</td>
												<td class="dataLabel">$96.23</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ6A71&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">MDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">10</td>
												<td class="dataLabel">$111.14</td>
												<td class="dataLabel">$28.20</td>
												<td class="dataLabel">$105.21</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$2445.50</td>
												<td class="dataLabel" bgcolor="#fafad2">*30.80%</td>
												<td class="dataLabel">$753.21</td>
											</tr>



											<tr bgcolor="#FFFFFF">

												<td class="data">72147TZ6A81&nbsp;</td>
												<td class="data">2016</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">MDX</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">4</td>
												<td class="dataLabel">$111.14</td>
												<td class="dataLabel">$28.20</td>
												<td class="dataLabel">$105.21</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$978.20</td>
												<td class="dataLabel" bgcolor="#fafad2">*30.80%</td>
												<td class="dataLabel">$301.29</td>
											</tr>

											<tr>
												<td align="right" class="data" colspan="12">PLANT
													SUBTOTAL</td>
												<td class="dataLabel">$ 3,996.44 <br>
												</td>
											</tr>


											<tr>
												<td class="data" colspan="13" align="center"><b>HMI</b></td>
											</tr>
											<!--logic to populate voucher line items for respective destination-->




											<tr bgcolor="#FFFFFF">

												<td class="data">77960TLAA25&nbsp;</td>
												<td class="data">2018</td>
												<td class="data">KA&nbsp;</td>
												<td class="data">CRV</td>
												<td class="dataLabel">REPLACEMENT</td>
												<td class="dataLabel" bgcolor="#fafad2">4</td>
												<td class="dataLabel">$90.74</td>
												<td class="dataLabel">$96.00</td>
												<td class="dataLabel">$161.58</td>
												<td class="dataLabel" bgcolor="#fafad2">$0.00</td>
												<td class="dataLabel">$1393.28</td>
												<td class="dataLabel" bgcolor="#fafad2">**100.00%</td>
												<td class="dataLabel">$1393.28</td>
											</tr>

											<tr>
												<td align="right" class="data" colspan="12">PLANT
													SUBTOTAL</td>
												<td class="dataLabel">$ 1,393.28 <br>
												</td>
											</tr>



											<!--End of detail table -->
											<tr>
												<td class="data">&nbsp;</td>
												<td class="data">&nbsp;</td>
												<td class="data">&nbsp;</td>
												<td class="data">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
												<td class="dataLabel">&nbsp;</td>
											</tr>
											<tr>
												<td class="data" colspan="5" align="center">TOTAL
													MARKET CLAIMS</td>
												<td class="dataLabel">120</td>
												<td align="left" class="data" colspan="6">TOTAL COST</td>
												<td class="dataLabel">$ 8,430.88</td>
											</tr>
											<tr>
												<td colspan="13" class="data">&nbsp;</td>
											</tr>
											<tr>
												<td colspan="13" class="data">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Chnage stated for 4EM project by NTTDATA -->
		<!--logic to to populate accounting detail-->
		<!--FOR HAM ACCOUNTING USE ONLY :-->
		<!-- Change start for 4EM project  -->

		<tr>
			<td>
				<table border="0" width="100%">
					<tbody>
						<tr>
							<td width="25%" class="data" valign="top">
								<table width="100%" border="1" rules="rows">
									<tbody>
										<tr width="100%">
											<td width="100%" height="40px">FOR HNA ACCOUNTING USE
												ONLY:</td>
											<!--SR11124 changed message from HAM to HNA -- >
										<td></td>
									</tr>
									
				
									
									<!--SR11124 start  -->
											<!--
									<tr>
										<td height="40px">DEPT#</td>		
										<td height="40px" align="left" width="50%">A6179</td>
									</tr>
									
									
									<tr>
										<td height="40px" >ACCOUNT#</td>		
										<td height="40px" align="left" width="50%">69081</td>
									</tr>
									
									<!--SR11124 end  -->



										</tr>
										<tr>
											<td height="40px">SUPPLIER NUMBER</td>
											<td height="40px" align="left" width="50%">021450</td>
										</tr>


										<tr>
											<td height="40px">INVOICE NUMBER</td>
											<td height="40px" align="left" width="50%">CQ0214501019</td>
										</tr>


										<tr>
											<td height="40px">PO#</td>
											<td height="40px" align="left" width="50%">AWARRANTY</td>
										</tr>


										<tr>
											<td height="40px">INVOICE DATE</td>
											<td height="40px" align="left" width="50%">12/05/2019</td>
										</tr>


									</tbody>
								</table>
							</td>
							<td width="45%" class="data" valign="top">
								<table width="100%" border="1" rules="rows">
									<tbody>
										<tr>
											<!-- SR 11124 start -->
											<td height="40px" width="08%" align="center" class="data"
												rowspan="1">DEPT#</td>
											<td height="40px" width="06%" align="center" class="data"
												rowspan="1">ACCOUNT#</td>
											<td height="40px" width="08%" align="center" class="data"
												rowspan="1">Plant</td>
											<td height="40px" width="15%" align="center" class="data"
												rowspan="1">PROJECT NUMBER</td>
											<!-- SR 11124 end -->
											<td height="40px" width="15%" align="center" rowspan="1">TOTAL
												DEBIT AMOUNT</td>
										</tr>


										<tr>
											<!-- SR 11124 start -->

											<td height="40px" align="center">A6179</td>
											<td height="40px" align="center">69081</td>
											<td height="40px" align="center">HAM</td>
											<td height="40px" align="center">CQHAM</td>

											<!-- SR 11124 end -->
											<td height="40px" align="center">$ 3,202.96</td>
										</tr>

										<tr>
											<!-- SR 11124 start -->

											<td height="40px" align="center">V8920</td>
											<td height="40px" align="center">69081</td>
											<td height="40px" align="center">HMA</td>
											<td height="40px" align="center">CQHMA</td>

											<!-- SR 11124 end -->
											<td height="40px" align="center">$ 4,209.07</td>
										</tr>

										<tr>
											<!-- SR 11124 start -->

											<td height="40px" align="center">I8900</td>
											<td height="40px" align="center">69081</td>
											<td height="40px" align="center">HMI</td>
											<td height="40px" align="center">CQHMI</td>

											<!-- SR 11124 end -->
											<td height="40px" align="center">$ 0.00</td>
										</tr>

									</tbody>
								</table>

							</td>
							<td width="30%" class="data" valign="top">
								<table width="100%" border="1">
									<tbody>
										<tr>
											<td height="40px" width="65%" class="dataLabel">SUB
												TOTAL THIS VOUCHER US FUNDS</td>
											<td height="40px" width="35%" class="dataLabel">$

												8,430.88</td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel">ADDITIONAL SHIPPING
												CHARGES $ <input type="text" name="addlShippingCharge"
												size="4" value="945.76" onchange="setTabOut();" class="data">






											</td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel">SHIPPING PERCENT
												RESPONSIBILITY : 39.59 %</td>
											<td height="40px" class="dataLabel"></td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel">ADDITIONAL
												CHARGES(SHIPPING * RESP)</td>
											<td height="40px" class="dataLabel">$ 374.43</td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel"><input type="hidden"
												name="updatedByPlantScr" value="N"> <a
												href="javascript:enterAdjByPlant()"
												onmouseover="window.status='Enter overall adjustments by plant'; return true"
												onmouseout="window.status=''; return true"> OVERALL
													ADJUSTMENT </a> <input type="hidden"
												name="hdnPlantOverallAdjFlag" value="Y">
												<table border="0" cellspacing="2" cellpadding="2">


													<tbody>
														<tr>
															<td>HAM :</td>
															<td>$ 0.00</td>
														</tr>


														<tr>
															<td>HMA :</td>
															<td>$ 0.00</td>
														</tr>


														<tr>
															<td>HMI :</td>
															<td>$ -1,393.28</td>
														</tr>


													</tbody>
												</table></td>
											<td height="40px" class="dataLabel">$ <!-- VOUCHER in status of NEW -->


												<input type="text" name="overallAdjustment" maxlength="17"
												size="8" value="-1,393.28"
												onchange="setTabOut();if(validateOnChange()){alertOnChange(this, 'Please add comments with this Override Amount')}"
												style="align: right" class="data"> <!-- VOUCHER in status of SUBMITTED-->


												<!-- VOUCHER in status of APPROVED --> <!-- VOUCHER in status of ACK -->


												<!-- VOUCHER in status of AUTO DEBIT-->

											</td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel">DIAGNOSTIC CHARGES</td>
											<td height="40px" class="dataLabel">$ <input type="text"
												name="diagnosticCharges" maxlength="17" size="8"
												value="0.00" onchange="setTabOut();" style="align: right"
												class="data">






											</td>
										</tr>
										<tr>
											<td height="40px" class="dataLabel">TOTAL THIS VOUCHER
												US FUNDS</td>
											<td height="40px" class="dataLabel">$ 7,412.03</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

					</tbody>
				</table>
			</td>
		</tr>

		<!-- Chnage Ended for 4EM project by NTTDATA -->
	</tbody>
</table>

<!--end of header table-->
<table width="970" align="center" border="0" cellspacing="1"
	cellpadding="4" class="data">
	<tbody>
		<tr>
			<td width="100%">NOTE: VOUCHERS NOT RETURNED TO MARKET QUALITY
				DEPARTMENT BY THE DUE DATE WILL RESULT IN AN AUTOMATIC DEBIT AGAINST
				YOUR MONTHLY OEM CHECK</td>
		</tr>
	</tbody>
</table>

