<table width="740" border="0" cellpadding="0" cellspacing="0">

    <tbody>
        <tr>
            <td class="alerthead2" width="524">List Supplier Warranty Claim Block Parts:</td>

        </tr>
        <tr>
            <td class="data" colspan="2">Select a Supplier to perform create or delete Warranty Claim Block Parts.</td>
        </tr>
    </tbody>
</table>
<div class="panel panel-primary">
    <table border="0" width="970" cellpadding="4" cellspacing="0" class="supplier-panel-body">
        <tbody>
            <tr>
                <td width="2%">Supplier:</td>
                <td width="45">
                    <select #s (change)="callSupplier(s.value)" style="width: 30%;">
                        <option *ngFor="let supplier of suppliers" value="{{supplier.supplierNo}}">
                            {{supplier.supplierNo}}
                            {{supplier.supplierName}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr style='margin-top:0em; margin-bottom: 0em;background-color: grey;' />

<table align="center" width="970" border="0" cellpadding="2" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="4" class="alerthead2"><a name="List"></a>Create Supplier Block Parts:</td>
        </tr>
        <tr>
            <td width="15%">Short Part No:</td>
            <td width="15%">Model Year:</td>
            <td width="15%">Model Name:</td>
            <td width="55%">Comments:</td>
        </tr>
        <tr>




            <td width="10" bgcolor="#FFFFFF" class="data">
                <select name="shortpartno1" class="data">
                    <option value="--Select One--">--Select One--</option>
                </select>
            </td>


            <td width="10" bgcolor="#FFFFFF" class="data">
                <select name="modelyear1" class="data">
                    <option value="--Select One--">--Select One--</option>
                </select>
            </td>

            <td width="10" bgcolor="#FFFFFF" class="data">
                <select name="modelname1" class="data">
                    <option value="--Select One--">--Select One--</option>
                </select>
            </td>

            <td ><textarea name="comments1" cols="40" rows="2"></textarea></td>
        </tr>
    </tbody>
</table>
<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
        </tr>
        <tr>
            <td align="right">
                <button class="cqp-btn">Save</button> &nbsp;
                &nbsp;<button type="reset" class="cqp-btn">Reset</button>
            </td>
        </tr>
    </tbody>
</table>
<hr style='margin-top:0em; margin-bottom: 0em;background-color: grey;' />
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td colspan="2" class="alerthead2"><a name="List"></a>Current Supplier Block Parts:</td>
        </tr>
        <tr>
            <td width="300" class="data">Supplier: 011620 ALPINE ELECTRONICS OF AMERICA</td>
        </tr>
    </tbody>
</table>

<div style="overflow: auto;  width: 100%">
    <table style="table-layout: fixed" border="0" cellspacing="0" cellpadding="4"  width="970">
        <tbody>
            <tr>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="4%">&nbsp;</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="10%">Short Part No.</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="10%">Model Year</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="10%">Model Name</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="10%">Created Date</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="10%">Created By</th>
                <th  class="colheadactive" bgcolor="#D3D9A4" width="40%">Comments</th>
            </tr>
            <tr>
                <td colspan="6" class="alertRed">Warranty Claim Block Part does not exist for this Supplier.</td>
            </tr>
        </tbody>
    </table>
</div>
