<!-- <div class="screen-title">
    Transfer Part List - Historical
</div>
<br> -->
<ng-container *ngIf="outer">

<div class="panel panel-primary">
    <table width="970" align="center" border="0" cellspacing="0" cellpadding="0">

        <tbody>
            <tr>
                <td class="alerthead2">Search for Historical Transfer Part List items:</td>
            </tr>
            <tr>
                <td class="details" colspan="2">Provide criteria to search for Historical Transfer Part List items</td>
            </tr>
        </tbody>
    </table>

    <table border="0" width="970" cellpadding="4" cellspacing="0" class="supplier-panel-body">
        <tbody>
            &nbsp;
            <tr>
                <td width="2%">Supplier:</td>
                <td width="45">
                    <select #s (change)="callSupplier(s.value)" style="width: 30%;">
                        <option *ngFor="let supplier of suppliers" value="{{supplier.supplierNo}}">
                            {{supplier.supplierNo}}
                            {{supplier.supplierName}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
        <tbody>
            <tr>
                <td width="16%" class="data">TPL Item Status:</td>
                <td bgcolor="#FFFFFF" class="data">Year Analyzed:</td>
                <td width="24%" bgcolor="#FFFFFF" class="data">Short Part No:</td>
                <td width="18%" bgcolor="#FFFFFF" class="data">Model Year:</td>
                <td width="18%" bgcolor="#FFFFFF" class="data">Model Name:</td>
                <td width="24%" bgcolor="#FFFFFF" class="data" colspan="2">Category:</td>
            </tr>
            <tr>
                <td width="15%" class="data" valign="top">Closed</td>

                <td width="15%" class="data" valign="top"><select name="analyzedYear" class="data">
                        <option value="">No records</option>
                    </select></td>

                <td class="data" valign="top">
                    <select name="part_no" style="width: 200px" class="data">
                        <option value="ALL" selected="selected">ALL</option>
                    </select>
                </td>
                <td>
                    <select name="modelYear" class="data">
                        <option value="ALL" selected="selected">ALL</option>
                    </select>
                </td>
                <td>
                    <select name="modelName" class="data">
                        <option value="ALL" selected="selected">ALL</option>
                    </select>
                </td>
                <td colspan="2" valign="top" bgcolor="#FFFFFF" class="data">
                    <select name="categoryName" style="width: 220px" class="data">
                        <option value="ALL" selected="selected">ALL</option>

                        <option value="0">NO-CATEGORY</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="7" bgcolor="#FFFFFF" class="data" height="20">
                    <img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="8">
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF" class="data" colspan="2">Conclusion:</td>
                <td bgcolor="#FFFFFF" class="data">Due Date Range:</td>
                <td bgcolor="#FFFFFF" class="data">Submitted Date Range:</td>
                <td bgcolor="#FFFFFF" class="data">Assembly Off. Date:</td>
                <td bgcolor="#FFFFFF" class="data">TPL Ref. No.</td>
                <td bgcolor="#FFFFFF" class="data">Claim No.</td>
            </tr>
            <tr>
                <td valign="top" bgcolor="#FFFFFF" class="data" colspan="2"><select name="conclusionName" class="data">
                        <option value="ALL" selected="selected">ALL</option>

                        <option value="1">Customer abuse</option>
                        <option value="2">Dealer Error</option>
                        <option value="3">Supplier Mfg. Defect</option>
                        <option value="4">NTF</option>
                        <option value="5">Honda Mfg. Defect</option>
                        <option value="6">Cause Unknown</option>
                        <option value="8">Spec. Related-Honda Drawing</option>
                        <option value="9">Spec. Related-Supplier Drawing</option>
                        <option value="12">Honda Supplied Part</option>
                        <option value="13">No Reply</option>
                        <option value="14">Systems Related</option>
                    </select></td>
                <td>
                    <table border="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">From:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">To:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table border="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">From:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">To:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table border="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">From:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#FFFFFF" class="data">To:</td>
                                <td bgcolor="#FFFFFF" class="data">
                                    <input type="date" name="" id="">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" bgcolor="#FFFFFF"><input type="text" name="tplRefNo" maxlength="10" size="10" value=""
                        class="data"></td>
                <td valign="top" bgcolor="#FFFFFF"><input type="text" name="claimNo" maxlength="10" size="10" value=""
                        class="data"></td>
            </tr>
            <tr>
                <td colspan="7" class="data"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4"></td>
            </tr>
            <!-- Start - Enhancement - Add PWG review checkbox -->

            <tr>
                <td bgcolor="#FFFFFF" class="data" align="left" colspan="1">Reviewed</td>
                <td bgcolor="#FFFFFF" class="data" align="left" colspan="1">Market</td>

            </tr>
            <tr>
                <td bgcolor="#FFFFFF" class="data" align="left" colspan="1"><select name="pwgReviewedSrch" class="data">
                        <option value="ALL">ALL</option>
                        <option value="Y">Reviewed</option>
                        <option value="N">Not Reviewed</option>
                    </select>
                </td>
                <td bgcolor="#FFFFFF" class="data" align="left" colspan="1">
                    <select name="selectedMarket" class="data">
                        <option value="All">All</option>
                        <option value="KA/KL">KA/KL</option>
                        <option value="KC">KC</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" colspan="7"><button (click)="toggle()" class="cqp-btn">Search</button> &nbsp;
                    &nbsp;<button type="reset" class="cqp-btn">Refresh</button> &nbsp; &nbsp;<button
                        class="cqp-btn">Reset</button></td>
            </tr>


            <!-- End - Enhancement - Add PWG review checkbox -->
        </tbody>
    </table>
    <div class="supplier-panel-body">
        <ng-container *ngIf="show">
            <hr>
            <table border="0" width="970" align="center" cellspacing="0" cellpadding="0" bordercolor="#000000">
                <tbody>
                    <tr>
                        <td colspan="4" class="alerthead2"><a name="List"></a>List of Historical Transfer Part List
                            Items.</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="instructionSmall">Click on a record to see the details below or select
                            desired records and an action to perform on them.</td>
                    </tr>
                    <tr>
                        <td width="50%" class="data">
                            Supplier:
                            140290 DENSO INTERNATIONAL AMERICA
                        </td>
                        <td class="data" align="left"></td>
                        <td width="38%" align="right" class="recordnumber">
                            720
                            records</td>
                        <td width="12%" align="center" class="data">

                            &nbsp;


                            <select name="listPageSelector"
                                onchange="forms[0].action.value='gotopage';forms[0].submit();" class="data">
                                <option value="1" selected="selected">1</option>

                                <option value="2">2</option>

                                <option value="3">3</option>
                            </select>


                            <a href="">Next</a>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel-body">

                <table class="table table-striped" cellspacing="1" cellpadding="4" bordercolor="white" border="6">
                    <thead>
                        <tr align="left" valign="top" class="list-header   ">
                            <td align="center">&nbsp;</td>
                            <td><a href="" class="colhead"> Short Part No. </a></td>
                            <td><a href="" class="colhead"> TPL Ref. No. </a></td>
                            <td><a href="" class="colhead">Seq. No.</a></td>
                            <td><a href="" class="colhead">Model Year</a></td>
                            <td><a href="" class="colhead">Model Name</a></td>
                            <td><a href="" class="colhead">Pickup Date</a></td>
                            <td><a href="" class="colhead">Due Date</a></td>
                            <td><a href="" class="colhead">Reopen Due Date</a></td>
                            <td><a href="" class="colhead">Dealer No</a></td>
                            <td><a href="" class="colhead">Claim No</a></td>
                            <td><a href="" class="colhead">ROYR</a></td>
                            <td><a href="" class="colhead">Conclusion</a></td>
                            <td><a class="colhead">Mkt</a></td>

                            <td>Reviewed?</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr bgcolor="#F6F3B5" bordercolor="#FFFFFF">



                            <td><input type="checkbox" name="checkedPartno" value="0">
                            </td>
                            <td align="right"><a class="allLinkData" (click)="toggle1()"> 77960 </a></td>

                            <td align="right">759997</td>
                            <td align="right">1/1</td>
                            <td align="right">2018</td>
                            <td>Civic</td>
                            <td>11/27/2019</td>
                            <td>01/08/2020</td>
                            <td></td>
                            <td align="right">206689</td>
                            <td align="right">144570</td>
                            <td align="right">2019</td>
                            <td align="left">Customer abuse</td>
                            <td align="left">KA</td>
                            <td align="left">
                                <input type="checkbox" name="pwgReview" disabled="true">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1%" height="1" border="0"></td>
                    </tr>
                    <tr>
                        <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1%" height="1" border="0"></td>
                    </tr>
                    <tr>
                        
                            <td style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 0" bordercolor="#990000"></td>
                            <td align="right" valign="top" width="100%">
                            <!-- 
                            start--Request conclusion report button
                            -->
                            
                                                <input type="button" name="actiondummy" value="Request conclusion report" onclick="javascript:setDisableAll(false);submitFormCQP(false,0,'Exportcqconclusion')" class="buttonStyle"> <!--
                             End Requst conclusion reprt button
                                                -->
                            
                            
                            <input type="button" name="actiondummy" value="Request excel report" onclick="javascript:setDisableAll(false);submitFormCQP(false,0,'Exportcq')" class="buttonStyle">   <input name="btnSelectAll" type="button" class="buttonStyle" id="btnSelectAll3" onclick="selectAll(0,'checkedPartno');" value="Select All">  
                            <input name="btnDeselectAll" type="button" class="buttonStyle" id="btnDeselectAll3" onclick="deSelectAll(0,'checkedPartno');" value="Deselect All">  
                            </td>
                        
                        <td align="right" valign="top" width="100%" nowrap="">&nbsp; <input type="button" name="actiondummy" value="Cancel" (click) = toggle() class="buttonStyle"></td>
                    </tr>
                </tbody></table>
            </div>
        </ng-container>
    </div>
</div>
</ng-container>

<ng-container *ngIf="inner">       
        <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
        
            </tr>
                <tr>
                  <td class="alerthead2" width="524">View Historical Transfer Part List Items:</td>
                            
                  <td align="right"><a href="javascript:openApplicationWindow('/manageHistorical.do?action=printViewHistorical&amp;tplDtlItemID=759997&amp;printPage=historicalTPL','height=500,width=700,scrollbars=1,resizable=0,menubar=0,location=0,toolbar=0','Print')">Printer-friendly</a></td>
                  
                </tr>
               <tr>
        
            </tr>
        
        
              </tbody></table>
        
              <table border="0" width="970" align="center" cellpadding="2" cellspacing="0">
                <tbody><tr>
                    <td height="6"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
                <tr>
                      <td width="40" class="data">Supplier:</td>
                    <td width="862" class="data" align="left">140290 DENSO INTERNATIONAL AMERICA</td>
                    <td class="data" align="right">Status:</td>
                      <td class="alertRed" align="right">CLOSED</td>
                  </tr>
                  <tr>
                  <td colspan="2">
                        TPL Ref. No.&nbsp;&nbsp;759997
                    </td>
                  </tr>
              </tbody></table>
              <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                  <tr>
                  <td height="1" bgcolor="#999999"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                <tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
              </tbody></table>
        <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
                <tbody><tr>
                  <td width="150" class="data">Pickup Date:</td>
                  <td width="150" class="data">Due Date:</td>
                  <td width="150" class="data">Submitted Date:</td>
                  <td width="150" class="data">&nbsp;</td>
                  <td width="120" class="data"></td>
                </tr>
                <tr>
                  <td class="data">11/27/2019</td>
                  <td class="data">01/08/2020</td>
                  <td class="data">01/09/2020</td>
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                  </tr>
                  <tr>
                  <td colspan="5" class="data"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td width="150" class="data">Reopen Date:</td>
                  <td width="150" class="data">Reopen Due Date:</td>
                  <td width="150" class="data">Reopen Submit Date:</td>
        
                  <td width="120" class="data">&nbsp;</td>
                </tr>
                <tr>
                  <td class="data"></td>
                  <td class="data"></td>
                  <td class="data">-</td>
        
                  <td class="data">&nbsp;</td>
                </tr>
                  </tbody></table>
                  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                  <tr>
                  <td height="1" bgcolor="#999999"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                <tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
              </tbody></table>
        
        
              <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
                <tbody><tr>
                  <td width="150" class="data">Claim No:</td>
                  <td width="150" class="data">ROYR:</td>
                  <td width="150" class="data">Part No:</td>
                  <td width="150" class="data">Model Year:</td>
                  <td width="120" class="data">Model Name:</td>
                </tr>
                <tr>
                  <td class="data">
                    144570 </td>
                  <td class="data">
                    2019</td>
                  <td class="data"> 77960</td>
                  <td class="data">2018</td>
                  <td class="data">Civic</td>
                </tr>
                <tr>
                  <td colspan="5" class="data"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">Dealer No:</td>
                  <td class="data">Dealer State:</td>
                  <td class="data">VIN</td>
                  <td class="data">Assembly Off. Date:</td>
                  <td class="data">Engine Off. Date.</td>
                </tr>
                <tr>
                  <td class="data">206689</td>
                  <td class="data">AR</td>
                  <td class="data">2HGFC2F56JH553881</td>
                  <td class="data">04/02/2018</td>
                  <td class="data">03/29/2018 </td>
                </tr>
                <tr>
                  <td colspan="5" class="data"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">DTF:</td>
                  <td class="data">ODOM:</td>
                   <!-- KC Market - Market field related changes - vcc30756 - 091911  -->
                  <td class="data">Market:</td>          
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                </tr>
                <tr>
                  <td class="data">20214 </td>
                  <td class="data">518 </td>
                   <!-- KC Market - Market field related changes - vcc30756 - 091911  -->
                  <td class="data"> </td>          
                  <td class="data"><input type="hidden" name="tpldtlId" value="751682"></td>
                  <td class="data"><input type="hidden" name="tplItemDtlId" value="759997"></td>
                  <td class="data"><input type="hidden" name="extnFlag" value=""></td>         
                </tr>
                <tr>
                  <td colspan="5" class="data"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">Customer Contention: </td>
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                  <td class="data">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="5" class="data">
                    <table>
                      <tbody><tr>
                        <td class="data">CHECK SRS LIGHT IS ON </td>
                         </tr>
                      </tbody></table>
                  </td>
                </tr>
              </tbody></table>
              <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                  <tr>
                  <td height="1" bgcolor="#999999"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                  </tr>
                <tr>
                    <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
              </tbody></table>
        
              <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
                <tbody><tr>
                  <td class="data">Visual Inspection Passed?:</td>
                  <td class="data">Visual Inspection Details: </td>
                  <td class="data">Visual Inspection Details (Reanalysis):</td>
                </tr>
                <tr>
                  
                  <td valign="top" class="data">Yes</td>
                  
                  
        
                  <td class="data">
                    No damage to case, cover, or connector. SRS ECU was opened. No observations of solder defects (solderball, bridging, etc.) or rubbish on the PCB.
                  </td>
                  <td class="data">
                    
                  </td>	      
                </tr>
                <tr>
                  <td colspan="3"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">Functional Inspection Passed?: </td>
                  <td class="data">Functional Inspection Details: </td>
                  <td class="data">Functional Inspection Details (Reanalysis):</td>
                </tr>
                <tr>
                  
                  
                    <td valign="top" class="databold"><font color="CC0000">No</font></td>
                  
                  <td class="data">
                    EEPROM data shows frontal impact. Manual bench check OK. Unit passes all In-process testing. Unit was thermally stressed for 24hr and then rechecked at In-line testing. OK.
                  </td>
                  <td class="data">
                    
                  </td>           
                </tr>
                <tr>
                  <td><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                   <td class="data">Lot No:</td>
                   <td class="data">Supplier Analysis Summary:</td>
                   <!-- Start - Enhancement - Add PWG review checkbox -->
                   <td class="data">
                       <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody><tr>
                                <td width="30%" align="left">Return:</td> 	  
                            <!-- Start - Enhancement - Add PWG review checkbox -->
                            
                                <td align="left">Review:</td>
                                
                            <!-- End - Enhancement - Add PWG review checkbox -->
                           </tr>
                       </tbody></table>     
                    </td>
                    <!-- End - Enhancement - Add PWG review checkbox -->
                </tr>
                <tr>
                      <td valign="top" class="data">
                         3/22/2018
                      </td>
                      <td class="data">
                         Unit impacted.
                      </td>
                      <td class="data" valign="top">
                              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                  <tbody><tr>
                                      <td width="30%" align="left">
                                         
                                        No 
                                      </td>
                                    <!-- Start - Enhancement - Add PWG review checkbox -->
                                    
                                        <td align="left">
                                               
                                             
                                          </td>
                                       
                                   <!-- End - Enhancement - Add PWG review checkbox -->
                                </tr>  
                            </tbody></table>
                      </td>      
                </tr>
                <tr>
                  <td><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">Category: </td>
                   
                  
                   <td class="data">&nbsp;</td>
                   
                   
                </tr>
                <tr>
                  <td class="data">
                   
                   
                    
                 </td>
                 <td> &nbsp;</td>
                 
                    
                 
                 
                 
                </tr>
                <tr>
                  <td colspan="3"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="4" border="0"></td>
                </tr>
                <tr>
                  <td class="data">C/M Report Number:</td>
                  <td class="data">Conclusion:</td>
                </tr>
                <tr>
                  <td class="data">
                
                   
                  </td>
                
                 <td class="data">
                      Customer abuse
                </td></tr>
              </tbody></table>
              <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
                <tr>
                  <td height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
                <tr>
                  <td align="right" style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 0" bordercolor="#990000">
                        
                        
                        
                        <input type="button" name="actiondummy" value="Comments" (click) = toggleComments() class="buttonStyle">
                        
                        <input type="button" name="actiondummy" value="Cancel" (click) = toggle1() class="buttonStyle">
                </td>
              </tr>
              <tr>
                  <td height="3"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
                <tr>
                  <td height="1" bgcolor="#990000"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
                </tr>
              </tbody></table>
</ng-container>

<ng-container *ngIf="external">

    <table width="970" align="center" border="0" cellspacing="0" cellpadding="0" height="18">
        <tbody>
            <tr>
                <td class="alertRed" align="left">


                </td>
            </tr>
        </tbody>
    </table>
    <!-- Spacer Table -->
    <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="2"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
            </tr>
            <tr>
                <td height="1" bgcolor="#999999"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1"
                        border="0"></td>
            </tr>
            <tr>
                <td height="2"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
            </tr>
        </tbody>
    </table>
    <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2" class="alerthead2"><a name="List"></a>Comments:</td>
            </tr>
            <tr>



                <td class="data" colspan="3">Enter a comment and select submit.</td>


            </tr>

            <tr>
                <td width="300" class="data">Supplier:
                    011620 ALPINE ELECTRONICS OF AMERICA
                </td>
            </tr>

            <tr>



                <td width="76" class="data" align="left"></td>
                <td width="38%" align="right" class="recordnumber">
                    2
                    records
                </td>
                <td width="12%" align="center" class="data">

                    &nbsp;

                    <select name="listPageSelector"
                        onchange="document.forms[0].action.value='gotoPageForListSup';document.forms[0].submit();"
                        class="data">
                        <option value="1" selected="selected">1</option>
                    </select>

                    &nbsp;

                </td>


            </tr>
            <tr>
                <td colspan="4" height="2">
                    <img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0">
                </td>
            </tr>
        </tbody>
    </table>


    <table style="table-layout: fixed" border="0" cellspacing="1" cellpadding="4" align="center" width="970">
        <colgroup>
            <col width="20%">
            <col width="50%">
            <col width="30%">

        </colgroup>
        <tbody>
            <tr align="left" valign="top" bgcolor="#D3D9A4" style="height: 23px; padding-left: 4px">
                <th bordercolor="#FFFFFF" style="border-bottom-width: 1" class="colheadactive">Date Time</th>
                <th bordercolor="#FFFFFF" style="border-bottom-width: 1" class="colheadactive">Comment</th>
                <th bordercolor="#FFFFFF" style="border-bottom-width: 1" class="colheadactive">Login Id</th>
            </tr>





            <!-- Logic to get alternate row colors  -->

            <tr bgcolor="#F6F3B5">
                <td align="left" width="20%" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    05/05/2021 1:04 PM</td>
                <td align="left" width="60%"
                    style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    ABC</td>
                <td align="left" width="10%" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    Test&nbsp;User 145<br>
                    VCC74145</td>

            </tr>


            <!-- Logic to get alternate row colors  -->

            <tr bgcolor="#FFFFFF">
                <td align="left" width="20%" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    05/05/2021 1:11 PM</td>
                <td align="left" width="60%"
                    style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    Shricolour</td>
                <td align="left" width="10%" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                    Test&nbsp;User 145<br>
                    VCC74145</td>

            </tr>



        </tbody>
    </table>


    <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <hr size="1">
                </td>
            </tr>
        </tbody>
    </table>


    <!-- Spacer & Actions Table -->




    <table width="970" align="center" border="0" cellspacing="0" cellpadding="2">
        <tbody>
            <tr>
                <td class="databold">Comment:</td>
                <td class="databold">Visible To: </td>
            </tr>
            <tr>
                <td align="left" class="data">
                    <textarea name="comments1" cols="160" rows="4" onchange="setTabOut();" class="data"></textarea>
                </td>
                <td class="data" valign="top">
                    <select name="visibilityFlag" class="data">
                        <option value="All" selected="selected">All</option>
                        <option value="Honda User Only">Honda User Only</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>


    <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="12"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
            </tr>
            <tr>
                <td align="right"
                    style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: solid; border-bottom-width: 1"
                    bordercolor="#990000">





                    <input type="button" name="actiondummy" value="Submit"
                        onclick="javascript:submitFormCQP(true,0,'Submit',validateCommentSave())" class="buttonStyle">


                    <input type="button" name="actiondummy" value="Reset" onclick="javascript:submitAction('Reset')"
                        class="buttonStyle">



                    <input type="button" name="actiondummy" value="Cancel" (click)=toggleComments()
                        class="buttonStyle">
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>