<table border="0" width="970" align="center" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td nowrap="" class="alerthead2" colspan="2"
                style="padding-left: 0; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-bottom-style: none; border-bottom-width: medium"
                bordercolor="#990000">
                Manage Message Center
            </td>
        </tr>
        <tr>
            <td class="data" width="400" height="25">
                Select user type and enter message for message center.
            </td>
        </tr>
    </tbody>
</table>
<hr>
<table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
    <tbody>
        <tr>
            <td class="data" width="150">Select type of user:</td>
            <td class="data" width="150">
                <select name="messageCenterDTO.userType" onchange="showHideSuppliers(this);"
                    id="messageCenterDTO.userType" class="data">
                    <option value="">--Select user type--</option>
                    <option value="A">All users</option>
                    <option value="H">Honda users</option>
                    <option value="ALL_S">All suppliers</option>
                    <option value="S" selected="selected">Supplier users</option>
                </select>
            </td>
            <td class="data" width="150">Select System:</td>
            <td class="data" align="left" valign="top">
                <div id="systemDropdown" >

                    <select name="messageCenterDTO.systemName" class="data">
                        <option value="Both">--Select System--</option>
                        <option value="Both">Both</option>
                        <option value="CQP">CQP</option>
                        <option value="WRP">WRP</option>
                        
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="data" width="150">Expiry Date:</td>
            <td class="data" align="left">
                <input type="date" name="" id="">
            </td>
        </tr>
    </tbody>
</table>
<hr>
<table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
    <tbody>
        <tr>
            <td class="data">Enter message for message center:</td>
        </tr>
        <tr>
            <td height="10"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td class="data" align="center" valign="top">
                <textarea name="messageCenterDTO.message" cols="80" rows="10" id="messageCenterDTO.message"
                    class="data"></textarea>
            </td>
        </tr>
    </tbody>
</table>

<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="35"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right">
                <button (click)="toggle()" class="cqp-btn">Save</button>
            </td>
        </tr>
    </tbody>
</table>