<table cellspacing=0 cellpadding=0 width="720" bgcolor="#ffffff" border=0>
    <tr>
        <td>
            <table cellspacing=0 cellpadding=0 width="100%" border=1 bgcolor="#ff8833">
                <tr>
                    <td align=left><img src="..\assets\hst_banner.jpg" width="760" height="58"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing=0 cellpadding=0 width="100%" border=0>
                <tr bgcolor="#990000">
                    <td>
                        <div align="left">
                            <font face="verdana, arial, helvetica" color="#ffffff" size="4">&nbsp;CQP</font>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing=0 cellpadding=0 width="100%" border=0 align="left">
                <tr>
                    <td>
                        &nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p class=para align="left">
                            <font face="arial">&nbsp; Build Version:
                                <font color="#990000">@build-label@</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class=para align="left">
                            <font face="arial">&nbsp; Build Date:
                                <font color="#990000">@dstamp@</font>
                            </font>
                        </p>
                    </td>
                </tr>
                <tr>

                    <td>
                        <p class=para align="left">
                            <font face="arial">&nbsp; Build Time:
                                <font color="#990000">@tstamp@</font>
                            </font>
                        </p>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellspacing=0 cellpadding=0 width="100%" border=0 align="center">
                <tr align="center">
                    <td><input style="background-color: #990000; border-bottom-color:
#990000; border-left-color: #990000; border-right-color:  #990000; border-top-color: #990000; color: #ffffff; font-family: arial; font-size: 11;  font-weight: bold" type="submit" onclick="window.close();" name="close" value="close">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>