<table width="970" align="center" border="0" cellspacing="0" cellpadding="0">

    <tbody>
        <tr>
            <td class="alerthead2">Search for Audit records for Admin:</td>
        </tr>
        <tr>
            <hr>
        </tr>
        <tr>
            <td class="data" colspan="2">Enter User Id to search audit records for user.</td>
        </tr>
        <!--
             <tr>
             <td class="alertRed" colspan="2">Action Status goes here</td>
           </tr>
           -->
    </tbody>
</table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
      </tr>

    <tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
    </tr>
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
    <tbody><tr>
      <td width="25%">User Id</td>
      <td width="55%">Search Criteria:</td>
    </tr>
    <tr>
     <td class="data" align="left" valign="top"><input type="text" name="serviceSK" maxlength="50" size="25" value="" class="data"></td>
      <td>
                        <input type="radio" name="radio" value="role" checked="checked">Role
                        <br>
                        <input type="radio" name="radio" value="supp">Associated Supplier
                    </td>
    </tr>
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="35"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right"
                style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; "
                bordercolor="#990000">
                <button (click)="toggle()" class="cqp-btn">Search</button> &nbsp;
                &nbsp;<button type="reset" class="cqp-btn">Reset</button>
            </td>
        </tr>
        <tr>
            <hr>
        </tr>
    </tbody>
</table>
<table width="970" align="center" border="0" cellspacing="0" cellpadding="0">

    <tbody><tr>
      <td class="data" colspan="2">Enter Supp No. to search audit records for supplier.</td>
    </tr>
    <!--
      <tr>
      <td class="alertRed" colspan="2">Action Status goes here</td>
    </tr>
    -->
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
      </tr>
      <tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
    </tr>
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
    <tbody><tr>
      <td width="25%">Supp No.</td>
    </tr>
    <tr>
     <td class="data" align="left" valign="top"><input type="text" name="serviceSKSupp" maxlength="50" size="25" value="" class="data"></td>

    </tr>
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="35"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right"
                style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; "
                bordercolor="#990000">
                <button (click)="toggle()" class="cqp-btn">Search</button> &nbsp;
                &nbsp;<button type="reset" class="cqp-btn">Reset</button>
            </td>
        </tr>
        <tr>
            <hr>
        </tr>
    </tbody>
</table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
<td class="alerthead2">Audit records for Admin:</td>
</tr>
    
        <tr>
            <td class="alertRed" align="left">

            </td>
        </tr>
        
        <tr>
            <td width="76" class="data" align="left"></td>
            <td width="38%" align="right" class="recordnumber">3&nbsp;records</td>
                
    

            <td width="12%" align="center" class="data"> &nbsp;  <select name="listPageSelector" onchange="forms[0].action.value='jumptopage';forms[0].submit();" class="data"><option value="1" selected="selected">1</option></select>  &nbsp; </td>
            
    

        </tr>
        <tr>
            <td height="10"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
    
</tbody></table>
<table style="table-layout: fixed" border="0" cellspacing="1" cellpadding="4" align="center" width="970">


    <tbody><tr align="left" valign="top" bgcolor="#D3D9A4">
        <td class="colheadactive">User Login</td>
        <td class="colheadactive">Action</td>
        <td class="colheadactive">Date</td>

            <td class="colheadactive">Assigned Role</td>
            



    </tr>

    
    
        
        
        
            <!-- Logic to get alternate row colors  -->
            
            
            <tr bgcolor="#F6F3B5">
                
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">VCC74145</td>
                <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">Update</td>
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">05/07/2021 6:23 AM</td>
                    <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">CQ_ADMIN, CQ_APPROVER, CQ_PQPWG_ANALYST, CQ_SHIPPING</td>


                
            </tr>
            <tr bgcolor="#F6F3B5" bordercolor="#FFFFFF">
                

            </tr>
            
            <!-- Logic to get alternate row colors  -->
            
            <tr bgcolor="#FFFFFF">
                
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">VCC74145</td>
                <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">Update</td>
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">04/29/2021 8:44 AM</td>
                    <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">CQ_APPROVER</td>


                
            </tr><tr bgcolor="#FFFFFF" bordercolor="#FFFFFF">
                

            </tr>
            
            <!-- Logic to get alternate row colors  -->
            
            
            <tr bgcolor="#F6F3B5">
                
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">VCC74145</td>
                <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">Update</td>
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">01/11/2021 10:57 AM</td>
                    <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">CQ_ADMIN, CQ_APPROVER, CQ_CALLIN_ACTIVATOR, CQ_PQPWG_ANALYST, CQ_TFILE_CREATOR, CQ_VIEWER, CQ_VOUCHER_APPROVER, CQ_VOUCHER_EDITOR, CQ_SHIPPING, CQ_MQ_ANALYST, CQ_BOM_ADMIN</td>


                
            </tr>
            <tr bgcolor="#F6F3B5" bordercolor="#FFFFFF">
                

            </tr>
            
            
    
    
</tbody></table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="32"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right"
                style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-width: 1"
                bordercolor="#990000">
                <button type="reset" class="cqp-btn">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>

<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
<td class="alerthead2">Audit records for Admin:</td>
</tr>
    
        <tr>
            <td class="alertRed" align="left">

            </td>
        </tr>
        
        <tr>
            <td width="76" class="data" align="left"></td>
            <td width="38%" align="right" class="recordnumber">1&nbsp;records</td>
                
    

            <td width="12%" align="center" class="data"> &nbsp;  <select name="listPageSelector" onchange="forms[0].action.value='jumptopage';forms[0].submit();" class="data"><option value="1" selected="selected">1</option></select>  &nbsp; </td>
            
    

        </tr>
        <tr>
            <td height="10"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
    
</tbody></table>
<table style="table-layout: fixed" border="0" cellspacing="1" cellpadding="4" align="center" width="970">


    <tbody><tr align="left" valign="top" bgcolor="#D3D9A4">
        <td class="colheadactive">User Login</td>
        <td class="colheadactive">Action</td>
        <td class="colheadactive">Date</td>



            <td class="colheadactive">Supplier Status</td>
            

    </tr>

    
    
        
        
        
            <!-- Logic to get alternate row colors  -->
            
            
            <tr bgcolor="#F6F3B5">
                
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">VC037857</td>
                <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">Update</td>
                <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">12/03/2019 11:18 AM</td>
                    <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">Active</td>


                
            </tr>
            <tr bgcolor="#F6F3B5" bordercolor="#FFFFFF">
                

            </tr>
            
            
    
    
</tbody></table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="32"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right"
                style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-width: 1"
                bordercolor="#990000">
                <button type="reset" class="cqp-btn">Cancel</button>
            </td>
        </tr>
    </tbody>
</table>