<table width="740" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="alerthead2" width="524">Voucher Automation For Parts:</td>
        </tr>

        <tr>
            <td class="data" colspan="2">Select a Short Part No. To Perform Voucher Automation</td>
        </tr>
    </tbody>
</table>
<hr style='margin-top:0em; margin-bottom: 0em;background-color: grey;' />
<table width="970" align="center" border="0" cellspacing="0" cellpadding="0" height="18">
    <tbody>
        <tr>
            <td width="10%" align="center" style="font-size: large;">
                Short Part List
            </td>
        </tr>
        <tr>
            <td width="10%" align="center">
                <select name="partList" onchange="getPartDetails(this)" size="10">
					
                    <option value="12290">12290-S/PLG                         </option>
                
                    <option value="14310">14310-ACTUATOR, VTC                 </option>
                
                    <option value="15830">15830-VALVE ASSY.                   </option>
                
                    <option value="16010">16010-FILTER SET, FUEL              </option>
                
                    <option value="16015">16015-REGULATOR ASSY.               </option>
                
                    <option value="16450">16450-INJECTOR ASSY., FUEL          </option>
                
                    <option value="17045">17045-MODULE, FUEL PUMP             </option>
                
                    <option value="17380">17380-MODULE, FUEL VENT             </option>
                
                    <option value="17630">17630-METER, FUEL                   </option>
                
                    <option value="17800">17800-PEDAL, ACCELERATOR            </option>
                
                    <option value="19010">19010-RADIATOR                      </option>
                
                    <option value="19020">19020-FAN, COOLING                  </option>
                
                    <option value="19030">19030-MOTOR, COOLING FAN            </option>
                
                    <option value="27000">27000-BODY, MAIN VALVE              </option>
                
                    <option value="28660">28660-SENSOR, OIL PRESSURE          </option>
                
                    <option value="28810">28810-PICK-UP ASSY.                 </option>
                
                    <option value="30520">30520-COIL, PLUG HOLE               </option>
                
                    <option value="31100">31100-ALTERNATOR                    </option>
                
                    <option value="31200">31200-MOTOR ASSY.                   </option>
                
                    <option value="36160">36160-VALVE, PUR CONT SOL           </option>
                
                    <option value="36162">36162-VALVE, PUR CONT SOL           </option>
                
                    <option value="36531">36531-SENSOR, LAF                   </option>
                
                    <option value="36532">36532-SENSOR, OXYGEN                </option>
                
                    <option value="37830">37830-SENSOR ASSY., MAP             </option>
                
                    <option value="37870">37870-SENSOR ASSY.                  </option>
                
                    <option value="37980">37980-METER, AIR FLOW               </option>
                
                    <option value="38100">38100-HORN ASSY.                    </option>
                
                    <option value="38150">38150-HORN ASSY.                    </option>
                
                    <option value="38512">38512-MOTOR, WASHER                 </option>
                
                    <option value="38611">38611-FAN, COOLING                  </option>
                
                    <option value="38616">38616-MOTOR, COOLING FAN            </option>
                
                    <option value="38800">38800-SYSTEM UNIT                   </option>
                
                    <option value="38810">38810-COMPRESSOR                    </option>
                
                    <option value="38900">38900-CLUTCH SET                    </option>
                
                    <option value="38924">38924-STATOR SET                    </option>
                
                    <option value="39050">39050-MODULE                        </option>
                
                    <option value="39052">39052-SWITCH ASSY.                  </option>
                
                    <option value="39053">39053-SWITCH ASSY.                  </option>
                
                    <option value="39103">39103-KNOB, VOLUME                  </option>
                
                    <option value="39114">39114-JACK, AUX IN.                 </option>
                
                    <option value="39115">39115-CHANGER ASSY., CD             </option>
                
                    <option value="39120">39120-SPEAKER ASSY.                 </option>
                
                    <option value="39170">39170-BASE, POWER                   </option>
                
                    <option value="39175">39175-TUNER ASSY.                   </option>
                
                    <option value="39179">39179-PANEL ASSY.                   </option>
                
                    <option value="39183">39183-CONTROL                       </option>
                
                    <option value="39710">39710-DISPLAY ASSY.                 </option>
                
                    <option value="39711">39711-DISPLAY ASSY,NAVI             </option>
                
                    <option value="39810">39810-DISPLAY, NAVIGATOR            </option>
                
                    <option value="39870">39870-CONTROL UNIT, RR.             </option>
                
                    <option value="72812">72812-SENSOR ASSY., R.              </option>
                
                    <option value="72852">72852-SENSOR ASSY., L.              </option>
                
                    <option value="74934">74934-SENSOR ASSY., R.              </option>
                
                    <option value="74954">74954-SENSOR ASSY., L.              </option>
                
                    <option value="76505">76505-MOTOR, FR. WIPER              </option>
                
                    <option value="76530">76530-LINK, FR. WIPER               </option>
                
                    <option value="76540">76540-ROD UNIT A                    </option>
                
                    <option value="76550">76550-ROD UNIT B                    </option>
                
                    <option value="76600">76600-ARM, WSW                      </option>
                
                    <option value="76610">76610-ARM, WSW                      </option>
                
                    <option value="76620">76620-BLADE, WSW                    </option>
                
                    <option value="76622">76622-RUB, BLADE                    </option>
                
                    <option value="76630">76630-BLADE, WSW                    </option>
                
                    <option value="76632">76632-RUB, BLADE                    </option>
                
                    <option value="76805">76805-TUBE                          </option>
                
                    <option value="76806">76806-MOTOR, WASHER                 </option>
                
                    <option value="76808">76808-HOLDER, MOTOR                 </option>
                
                    <option value="76809">76809-BUSH, LEVEL SENSOR            </option>
                
                    <option value="76810">76810-NOZZLE, WSWA                  </option>
                
                    <option value="76815">76815-NOZZLE, L. WASHER             </option>
                
                    <option value="76826">76826-VALVE, ONE-WAY                </option>
                
                    <option value="76835">76835-SENSOR, LEVEL                 </option>
                
                    <option value="76840">76840-TANK SET, WASHER              </option>
                
                    <option value="76841">76841-TANK                          </option>
                
                    <option value="76842">76842-BUSH, WASHER TANK             </option>
                
                    <option value="76846">76846-MOLDING A, L. RR.             </option>
                
                    <option value="76850">76850-NOZZLE, RR.                   </option>
                
                    <option value="76869">76869-TUBE                          </option>
                
                    <option value="77930">77930-SENSOR, FR. CRASH             </option>
                
                    <option value="77950">77950-SENSOR, ROLL RATE             </option>
                
                    <option value="77960">77960-SRS UNIT                      </option>
                
                    <option value="77970">77970-SENSOR, SIDE IMPACT           </option>
                
                    <option value="77975">77975-SENSOR ASSY.                  </option>
                
                    <option value="78100">78100-METER, COMBINATION            </option>
                
                    <option value="78101">78101-METER, COMBINATION            </option>
                
                    <option value="78120">78120-CASE ASSY.                    </option>
                
                    <option value="78121">78121-METER ASSY., SENSOR           </option>
                
                    <option value="78155">78155-VISOR ASSY., METER            </option>
                
                    <option value="78156">78156-LENS, METER                   </option>
                
                    <option value="78157">78157-LENS                          </option>
                
                    <option value="78159">78159-LENS                          </option>
                
                    <option value="78200">78200-DISPLAY                       </option>
                
                    <option value="78259">78259-CONSOLE, RR.                  </option>
                
                    <option value="79022">79022-DUCT, DRIVER HEATER           </option>
                
                    <option value="79106">79106-SUB-HEATER UNIT               </option>
                
                    <option value="79107">79107-CASE SUB-ASSY., DUCT          </option>
                
                    <option value="79115">79115-CORE SUB-ASSY.                </option>
                
                    <option value="79140">79140-MOTOR ASSY., MODE             </option>
                
                    <option value="79150">79150-MOTOR ASSY., MODE             </option>
                
                    <option value="79160">79160-MOTOR ASSY., AIR MIX          </option>
                
                    <option value="79170">79170-MOTOR ASSY.                   </option>
                
                    <option value="79211">79211-CORE, HEATER                  </option>
                
                    <option value="79220">79220-MOTOR ASSY., FAN              </option>
                
                    <option value="79240">79240-MOTOR ASSY., MODE             </option>
                
                    <option value="79250">79250-MOTOR ASSY., RR. A/M          </option>
                
                    <option value="79260">79260-MOTOR ASSY., AIR MIX          </option>
                
                    <option value="79305">79305-BLOWER SUB-ASSY.              </option>
                
                    <option value="79307">79307-BLOWER MOTOR SUB              </option>
                
                    <option value="79310">79310-MOTOR ASSY., FAN              </option>
                
                    <option value="79311">79311-COVER, MOTOR                  </option>
                
                    <option value="79315">79315-RUBBER, MOTOR MOUNT           </option>
                
                    <option value="79330">79330-TRANSISTOR ASSY.              </option>
                
                    <option value="79350">79350-MOTOR, FRESH/REC              </option>
                
                    <option value="79502">79502-HEATER ASSY., RR.             </option>
                
                    <option value="79503">79503-BLOWER ASSY., RR.             </option>
                
                    <option value="80100">80100-CONDENSER ASSY.               </option>
                
                    <option value="80101">80101-FILTER SUB-ASSY.              </option>
                
                    <option value="80110">80110-CONDENSER                     </option>
                
                    <option value="80210">80210-EVAPORATOR ASSY.              </option>
                
                    <option value="80211">80211-EVAPORATOR                    </option>
                
                    <option value="80215">80215-EVAPORATOR                    </option>
                
                    <option value="80216">80216-PIPE, LIQUID                  </option>
                
                    <option value="80220">80220-VALVE, EXPANSION              </option>
                
                    <option value="80221">80221-VALVE, EXPANSION              </option>
                
                    <option value="80222">80222-PIPE ASSY. A                  </option>
                
                    <option value="80223">80223-PIPE ASSY. B                  </option>
                
                    <option value="80225">80225-EVAPORATOR ASSY.              </option>
                
                    <option value="80290">80290-ELEMENT, FILTER               </option>
                
                    <option value="80331">80331-PIPE, CONDENSER               </option>
                
                    <option value="80560">80560-THERMISTOR, A/C               </option>
                
                    <option value="80866">80866-CAP, VALVE                    </option>
                
                    <option value="98079">98079-S/PLG                         </option>
                
                    <option value="9807B">9807B-S/PLG                         </option>
                
            </select>
            </td>
        </tr>
        <tr>
            <td height="1" colspan="2"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1"></td>
        </tr>
    </tbody>
</table>
<table style="table-layout: fixed" border="0" cellspacing="0" cellpadding="4" align="center" width="970">
    <colgroup>
        <col width="20%">
        <col width="8%">
        <col width="8%">
        <col width="8%">
        <col width="8%">
        <col width="8%">
        <col width="20%">
        <col width="20%">

    </colgroup>
    <tbody>
        <tr>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Part Number</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Pounds Qty</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Kilograms Qty</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">FOB Amount</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Dealer Net Amount</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Flat Rate Amount</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Last Update Date</th>
            <th align="left" class="colheadactive" bgcolor="#D3D9A4">Updated By</th>
        </tr>





        <input type="hidden" name="shortPartNo" id="shortPartNo0" value="14310">
        <tr bgcolor="#F6F3B5">
            <td>
                <input type="text" name="partNum" id="partNum0" size="16" readonly="readonly" value="14310-5A2-A01">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty0" size="8" onblur="calculate(0)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty0" size="8" value="0.841">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt0" size="8" value="29.32">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt0" size="8" value="133.91">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt0" size="8" value="3.40">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime0" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName0" size="20" value="dbo">
            </td>
        </tr>





        <input type="hidden" name="shortPartNo" id="shortPartNo1" value="14310">
        <tr bgcolor="#FFFFFF">
            <td>
                <input type="text" name="partNum" id="partNum1" size="16" readonly="readonly" value="14310-5R1-013">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty1" size="8" onblur="calculate(1)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty1" size="8" value="0.679">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt1" size="8" value="49.60">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt1" size="8" value="144.47">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt1" size="8" value="2.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime1" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName1" size="20" value="dbo">
            </td>
        </tr>




        <input type="hidden" name="shortPartNo" id="shortPartNo2" value="14310">
        <tr bgcolor="#F6F3B5">
            <td>
                <input type="text" name="partNum" id="partNum2" size="16" readonly="readonly" value="14310-R40-A01">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty2" size="8" onblur="calculate(2)" value="1"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty2" size="8" value="0.215">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt2" size="8" value="54.78">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt2" size="8" value="156.36">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt2" size="8" value="1.10">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime2" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName2" size="20" value="dbo">
            </td>
        </tr>





        <input type="hidden" name="shortPartNo" id="shortPartNo3" value="14310">
        <tr bgcolor="#FFFFFF">
            <td>
                <input type="text" name="partNum" id="partNum3" size="16" readonly="readonly" value="14310-R40-A02">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty3" size="8" onblur="calculate(3)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty3" size="8" value="0.796">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt3" size="8" value="53.18">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt3" size="8" value="156.36">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt3" size="8" value="2.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime3" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName3" size="20" value="dbo">
            </td>
        </tr>




        <input type="hidden" name="shortPartNo" id="shortPartNo4" value="14310">
        <tr bgcolor="#F6F3B5">
            <td>
                <input type="text" name="partNum" id="partNum4" size="16" readonly="readonly" value="14310-R44-305">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty4" size="8" onblur="calculate(4)" value="4"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty4" size="8" value="1.451">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt4" size="8" value="31.44">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt4" size="8" value="94.00">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt4" size="8" value="2.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime4" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName4" size="20" value="dbo">
            </td>
        </tr>





        <input type="hidden" name="shortPartNo" id="shortPartNo5" value="14310">
        <tr bgcolor="#FFFFFF">
            <td>
                <input type="text" name="partNum" id="partNum5" size="16" readonly="readonly" value="14310-R44-A01">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty5" size="8" onblur="calculate(5)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty5" size="8" value="0.839">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt5" size="8" value="24.65">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt5" size="8" value="137.87">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt5" size="8" value="3.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime5" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName5" size="20" value="dbo">
            </td>
        </tr>




        <input type="hidden" name="shortPartNo" id="shortPartNo6" value="14310">
        <tr bgcolor="#F6F3B5">
            <td>
                <input type="text" name="partNum" id="partNum6" size="16" readonly="readonly" value="14310-R5A-305">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty6" size="8" onblur="calculate(6)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty6" size="8" value="0.907">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt6" size="8" value="33.93">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt6" size="8" value="137.87">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt6" size="8" value="2.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime6" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName6" size="20" value="dbo">
            </td>
        </tr>





        <input type="hidden" name="shortPartNo" id="shortPartNo7" value="14310">
        <tr bgcolor="#FFFFFF">
            <td>
                <input type="text" name="partNum" id="partNum7" size="16" readonly="readonly" value="14310-RAA-A01">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty7" size="8" onblur="calculate(7)" value="3"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty7" size="8" value="0.962">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt7" size="8" value="35.81">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt7" size="8" value="125.45">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt7" size="8" value="2.80">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime7" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName7" size="20" value="dbo">
            </td>
        </tr>




        <input type="hidden" name="shortPartNo" id="shortPartNo8" value="14310">
        <tr bgcolor="#F6F3B5">
            <td>
                <input type="text" name="partNum" id="partNum8" size="16" readonly="readonly" value="14310-RZA-003">
            </td>
            <td>
                <input type="text" name="poundQty" id="poundQty8" size="8" onblur="calculate(8)" value="2"
                    onkeypress="return enterNumonly(event)">
            </td>
            <td>
                <input type="text" name="klgQty" readonly="readonly" id="klgQty8" size="8" value="0.861">
            </td>
            <td>
                <input type="text" name="fobAmt" id="fobAmt8" size="8" value="54.78">
            </td>
            <td>
                <input type="text" name="dealerAmt" id="dealerAmt8" size="8" value="156.36">
            </td>
            <td>
                <input type="text" name="flatRateAmt" id="flatRateAmt8" size="8" value="2.00">
            </td>
            <td>
                <input type="text" name="updatedTime" id="updatedTime8" size="20" value="2021-01-07 08:02:46.247">
            </td>
            <td>
                <input type="text" name="programName" id="programName8" size="20" value="dbo">
            </td>
        </tr>




        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="cqp-btn" onclick="createForm()">Update</button></td>
        </tr>
        <input type="hidden" id="formLength" name="formLength" value="9">
    </tbody>
</table>