<div class="screen-title">WRP - Set Criteria</div>
<br>

<form>
	<table>
		<tr>
			<td>WRP #: <input type="text" name="refNo" size="24" value=""
				class="data">
			</td>
		</tr>
		<br>
		<tr>

			<td align="left">
				<button (click)="newoverrideForm.reset()" type="submit"
					class="cqp-btn">Update</button>&nbsp;
				<button (click)="newoverrideForm.reset()" type="submit"
					class="cqp-btn">Cancel</button>&nbsp;
				<button (click)="newoverrideForm.reset()" type="submit"
					class="cqp-btn">Delete</button>
			</td>
		</tr>
		<br>
		<tr>
			<table id="ctbl-004" style="width:100%" border="1">

				<thead>
					<tr>
						<td class="noborder"></td>
						<td class="noborder"></td>
						<td class="noborder"></td>

						<th class="withborder" align="center" scope="colgroup" colspan="2" bgcolor="#E9E9E9">Repair
							Order Date</th>
						<th align="center" scope="colgroup" colspan="2" bgcolor="#E9E9E9">AF Off
							Date</th>
						<th scope="colgroup" colspan="2" bgcolor="#E9E9E9">Parts Chg
							Amt</th>
						<th scope="colgroup" colspan="2" bgcolor="#E9E9E9">Total Chg
							Amt</th>
						<th scope="colgroup" colspan="2" bgcolor="#E9E9E9">Velcle
							Odometer</th>
						<th scope="colgroup" colspan="2" bgcolor="#E9E9E9">DTF</th>
						<th scope="colgroup" rowspan="2" bgcolor="#E9E9E9">AFOFF LN</th>
					</tr>
					<tr bgcolor="#E9E9E9">
						<th class="withborder"  align="center">Part Category</th>
						<th class="withborder"  scope="col">Claim Type</th>
						<th class="withborder"  scope="col">ECU Cd</th>
						<th scope="col">Start</th>
						<th scope="col">End</th>
						<th scope="col">Start</th>
						<th scope="col">End</th>
						<th scope="col">Min</th>
						<th scope="col">Max</th>
						<th scope="col">Min</th>
						<th scope="col">Max</th>
						<th scope="col">Min</th>
						<th scope="col">Max</th>
						<th scope="col">Min</th>
						<th scope="col">Max</th>

					</tr>
				</thead>
				<tbody>

					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>
					<tr>
						<td class="select"><select>
								<option value="civic">Civic</option>
								<option value="pilot">Pilot</option>
								<option value="accord">Accord</option>
								<option value="crv">CR-V</option>
						</select></td>
						<td class="select"><select>
								<option value="type1">Type 1</option>
								<option value="type2">Type 2</option>
								<option value="type3">Type 3</option>
								<option value="type4">Type 4</option>
						</select></td>
						<td>ecu cd</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>12/1/2001</td>
						<td>2/3/2011</td>
						<td>30</td>
						<td>430</td>
						<td>12</td>
						<td>239</td>
						<td>33</td>
						<td>99000</td>
						<td>1889</td>
						<td>18459</td>
						<td>N/A</td>
					</tr>

				</tbody>
			</table>




		</tr>
		<br>
		<tr>
			<p class="groove">Note: You must enter your Part Category on the
				Main WRP Summary Screen before adding applicable service parts</p>
		</tr>

	</table>

</form>
