<table border="0" width="970" align="center" cellspacing="0" cellpadding="0" bordercolor="#FFFFFF">
    <tbody>
        <tr>
            <td nowrap="" class="alerthead2" colspan="5"
                style="padding-left: 0; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-bottom-style: none; border-bottom-width: medium"
                bordercolor="#990000">
                Manage Honda Holidays:
            </td>
        </tr>
        <tr>
            <td class="data" colspan="2">
                Provide Honda holidays for the year.
            </td>
        </tr>
    </tbody>
</table>
<hr style='margin-top:0em; margin-bottom: 0em;background-color: grey;' />
<table border="0" cellspacing="1" cellpadding="4" width="250" align="center">
    <tbody>
        <tr>
            <td class="colheadactive" colspan="2" align="right">Select Year:&nbsp;
                <select name="hondaHolidayDTO.year" onchange="submitHondaHolidayForm();" class="data">
                    <option value="2005">2005</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">No. of holidays for selected year: <b>18</b></td>
        </tr>
        <tr align="left" valign="top" bgcolor="#D3D9A4">
            <td align="center" width="60%" class="colheadactive">Holiday Date</td>
            <td align="center" width="40%" class="colheadactive">Delete</td>
        </tr>
        <tr align="left" valign="top" bgcolor="#FFFFFF">
            <td align="center" width="60%">
                01/01/2021
            </td>
            <td class="colheadactive" align="center" width="40%">
                &nbsp;
            </td>
        </tr>
        <tr align="left" valign="top" bgcolor="#F6F3B5">
            <td align="center" width="60%">
                04/02/2021
            </td>
            <td class="colheadactive" align="center" width="40%">
                &nbsp;
            </td>
        </tr>
        <tr align="left" valign="top" bgcolor="#FFFFFF">
            <td align="center" width="60%">
                <input type="date" name="" id="">
            </td>
            <td class="colheadactive" align="center" width="40%">
                <input type="checkbox">
            </td>
        </tr>
        <tr align="left" valign="top" bgcolor="#F6F3B5">
            <td align="center" width="60%">
                <input type="date" name="" id="">
            </td>
            <td class="colheadactive" align="center" width="40%">
                <input type="checkbox">
            </td>
        </tr>
        <tr align="left" valign="top" bgcolor="#FFFFFF">
            <td align="center" width="60%">
                <input type="date" name="" id="">
            </td>
            <td class="colheadactive" align="center" width="40%">
                <input type="checkbox">
            </td>
        </tr>
        <tr align="left" valign="top" bgcolor="#F6F3B5">
            <td align="center" width="60%">
                <input type="date" name="" id="">
            </td>
            <td class="colheadactive" align="center" width="40%">
                <input type="checkbox">
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-borderless" border="0" cellspacing="1" cellpadding="4" width="250" align="center">
    <tr width="80%">
    </tr>
    <tr style="text-align: right;">
        <td valign="middle">
            <button (click)="toggle()" class="cqp-btn">Save</button>
                &nbsp;&nbsp;
                <button type="reset" class="cqp-btn">Delete</button>
                &nbsp;&nbsp;
                <button (click)="toggle()" class="cqp-btn">Reset</button>
        </td>
    </tr>
</table>