<table width="970" align="center" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr>
       <td class="alerthead2">Search for Audit records for Category:<!--Search for Audit records for Category:--></td>
    </tr>
     <tr>
       <hr>
   </tr>    
   <tr>
     <td class="data" colspan="2">Enter Supplier No or Part No to search audit records for category.<!--Enter Supplier No or Part No to search audit records for category.--></td>
   </tr>
</tbody></table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
      </tr>
    <tr>
        <td colspan="2" height="8"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
    </tr>
</tbody></table>
<table width="970" align="center" border="0" cellpadding="2" cellspacing="0">
    <tbody><tr>
        <td width="25%">Supplier No.</td>
        <td width="25%">Short Part No.</td>
        <td width="50%">Select to view audit for:</td>
    </tr>
    <tr>
        <td class="data" align="left" valign="top">
            <input type="text" name="auditTrailDTO.serviceSK" maxlength="6" size="25" value="" class="data">
        </td>
        <td>
             <input type="text" name="auditTrailDTO.param1" maxlength="5" size="25" value="" class="data">
        </td>
        <td>
             <select name="auditTrailDTO.serviceName" class="data"><option value="CATEGORY">Audit trail for Category</option>
                 <option value="CATEGORy BY TPL">Audit trail for Category by TPL</option></select>
        </td>
    </tr>
  </tbody></table>
  <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td height="35"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
        <tr>
            <td align="right"
                style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; "
                bordercolor="#990000">
                <button (click)="toggle()" class="cqp-btn">Search</button> &nbsp;
                &nbsp;<button type="reset" class="cqp-btn">Reset</button>
            </td>
        </tr>
        <tr>
            <hr>
        </tr>
    </tbody>
</table>
<table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td class="alerthead2">Audit records for Category:<!--Audit records for Category:--></td>
     </tr>
    
        <tr>
            <td class="alertRed" align="left">
</td>
        </tr>
        
        <tr>
            <td width="76" class="data" align="left"></td>
            <td width="38%" align="right" class="recordnumber">
                4&nbsp;records
            </td>
            
                
                    <td width="12%" align="center" class="data">
                         
                            &nbsp; 
                         
                        
                        <select name="listPageSelector" onchange="forms[0].action.value='goToCategory';forms[0].submit();" class="data"><option value="1" selected="selected">1</option></select> 
                        
                         
                            &nbsp; 
                    </td>
                
            
        </tr>
        <tr>
            <td height="10"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
        </tr>
    
</tbody></table>
<table style="table-layout: fixed" border="0" cellspacing="1" cellpadding="4" align="center" width="970">
    <tbody><tr align="left" valign="top" bgcolor="#D3D9A4">
        <td class="colheadactive" width="10%">Supplier No.<!--Supplier No--></td>
        <td class="colheadactive" width="10%">Short Part No.<!--Part No--></td>
        <td class="colheadactive" width="20%">Old Category<!--Old Category--></td>
        <td class="colheadactive" width="20%">New Category<!--New Category--></td>
        <td class="colheadactive" width="15%">Changed By<!--Changed By--></td>
        <td class="colheadactive" width="20%">Changed Date<!--Changed Date--></td>
    </tr>
        
            
            
            
                           
                
                        <tr bgcolor="#F6F3B5">
                    
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                140290
                            </td>
                            <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                38810
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                10S - AC Not Cold
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                10S AC Frame Plant dessicant
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                mn03688
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                08/14/2009 9:30 AM
                            </td>
                        </tr>
            
                           
                
                        <tr bgcolor="#FFFFFF">
                    
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                140290
                            </td>
                            <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                38810
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                Frame Plant-dessicant
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                10S - AC Not Cold
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                mn03688
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                08/14/2009 9:27 AM
                            </td>
                        </tr>
            
                           
                
                        <tr bgcolor="#F6F3B5">
                    
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                140290
                            </td>
                            <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                38810
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                10S - AC Not Cold
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                Frame Plant-dessicant
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                mn03688
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                08/14/2009 9:25 AM
                            </td>
                        </tr>
            
                           
                
                        <tr bgcolor="#FFFFFF">
                    
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                140290
                            </td>
                            <td align="left" style="page-break-after: always;border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                16450
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                No Trouble Found
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                NTF
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                mn01723
                            </td>
                            <td align="left" style="border-bottom-width: 1; border-left-style: none; padding-left: 4">
                                12/23/2008 11:25 AM
                            </td>
                        </tr>
            
        
        
    </tbody></table>
    <table width="970" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td height="32"><img src="/cqp_qa/cqpq/images/clear.gif" width="1" height="1" border="0"></td>
            </tr>
            <tr>
                <td align="right"
                    style="padding-left: 3; padding-top: 3; padding-bottom: 3; border-left-style: none; border-left-width: medium; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-width: 1"
                    bordercolor="#990000">
                    <button type="reset" class="cqp-btn">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>