<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
    <form action="../../index_logged_in.html" method="post">
        <table cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
            <tbody>
                <tr valign="top">
                    <td height="461">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <!-- begin APPLICATION NAVIGATION TABLE-->
                            <tbody>
                                <tr>
                                    <td height="16">
                                        <table height="16" cellspacing="0" cellpadding="0" width="760" align="left" border="0">
                                            <!-- begin APPLICATION NAVIGATION -->
                                            <tbody>
                                                <tr bgcolor="#990000">
                                                    <td valign="center" width="760" height="16">
                                                        <div align="left">
                                                            <a name="top"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </div>
                                                    </td>
                                                    <!-- end APPLICATION NAVIGATION -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end APPLICATION NAVIGATION TABLE -->
                        <!-- begin HEADER -->
                        <table cellspacing="0" cellpadding="0" width="760" border="0">
                            <tbody>
                                <tr bgcolor="#000000">
                                    <td colspan="7" height="2"><img height="1" src="" width="1"></td>
                                </tr>
                                <tr>
                                    <td width="10"><img height="1" src="" width="10" border="0"></td>
                                </tr>
                                <tr>
                                    <td width="10" rowspan="3">&nbsp;</td>
                                    <td class="application" width="752" colspan="6" height="17">HondaSupplyTeam
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pagetitle" width="752" colspan="6" height="2">Privacy Policy
                                    </td>
                                </tr>
                                <tr>
                                    <td class="header" width="752" colspan="6" height="2">
                                        <hr color="#990000" noshade="" size="1">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end HEADER -->
                        <!-- begin MESSAGE TABLE -->
                        <table cellspacing="0" cellpadding="0" width="759" border="0">
                            <tbody>
                                <tr>
                                    <td width="10" rowspan="2"><img height="1" src="" width="10" border="0"></td>
                                </tr>
                                <tr>
                                    <td width="749">
                                        <font face="Arial" size="2">Honda of America Mfg., Inc. is committed to using reasonable efforts to preserve your privacy. This Privacy Statement describes how we may process and use information collected from you. Information that we collect
                                            from you will be used, stored, and processed, in whole or in part, in the United States.
                                            <p>We may change this Privacy Statement from time to time. Changes to this Privacy Statement are effective upon posting. Please check back periodically for updates.</p><b>
            <p>Collection and Use of Web Site Use Information</p></b>
                                            <p>"Web Site Use Information" includes, without limitation, information about you and your company, your Internet service provider, browser type, domain name, IP address, the web page that referred you to us, the
                                                web pages you request, the date and time of those requests, and entry and exit points. We collect Web Site Use Information to develop group profiles of our Web Site visitors, assist with systems administration,
                                                resolve problems, and for other reasons. Our collection of Web Site Use Information may involve the use of cookies. Among other uses, cookies allow us to deliver content specific to your interests, to save
                                                you from re-entering your registration data at each connection, and to provide special features. The Help portion of the toolbar on most browsers will tell you how to configure your web browser to accept
                                                cookies, not to accept new cookies, to notify you when you receive a new cookie, or to disable cookies altogether.</p><b>
            <p>Collection of Personal Information</p></b>
                                            <p>"Personal Information" includes, without limitation, your name, contact information (including your e-mail address), employment application information, company affiliation, and other individually identifiable
                                                information that you provide to us through these Web Sites. We collect Personal Information if you provide it to us voluntarily. We only collect Personal Information for uses that include evaluating and
                                                processing employment applications, administering contests, providing services, fulfilling legal and regulatory requirements, and conducting the business operations described in this Privacy Statement. We
                                                keep your Personal Information as accurate, complete, current, and relevant to its intended use as is reasonably possible.</p><b>
            <p>Use of Personal Information</p></b>
                                            <p>We may use and disclose Personal Information for purposes that include evaluating applications for employment, assessing business relationships, communicating with you, administering contests and promotions,
                                                fulfilling legal and regulatory requirements, and conducting business transactions with you.</p>
                                            <p>We only collect, use, and disclose Personal Information for purposes that are reasonable in the circumstances. We use only fair and lawful means to collect Personal Information.</p>
                                            <p>We may disclose Personal Information to non-affiliated third parties for reasons that include, without limitation, administering a transaction, protecting the confidentiality and security of records, assisting
                                                law enforcement, and other reasons listed below.
                                            </p>
                                            <p>We disclose Personal Information to other companies and individuals to perform functions on our behalf under confidentiality agreements. These types of agents include transportation and delivery companies, outside
                                                recruiting firms, employee benefit administrators, human resources consultants, contest promoters, marketing service providers, companies that evaluate driving skills, and other agents who perform the operations
                                                described in this Privacy Statement for or on our behalf. These agents may perform functions including, without limitation, transportation and delivery of parts and supplies, assessment of staffing needs,
                                                analysis of employment applications, administration of employee benefits, promotion of contests, and evaluation of contestant's driving skills. Where we disclose Personal Information to organizations that
                                                perform services on our behalf, we will require those organizations to use such information solely for the purposes of providing services to us and to protect the Personal Information with appropriate safeguards.</p>
                                            <p>As we continue to develop our business, we might buy or sell business units. We reserve the right to transfer your Personal Information in connection with these transactions.</p>
                                            <p>We may disclose Personal Information without your consent if we believe disclosure is appropriate to comply with the law or assist law enforcement authorities; enforce or apply our Terms of Use and other agreements;
                                                or protect the rights, property, or safety of our users or others. When we are obligated or permitted to disclose information without consent, we will not disclose more information than is necessary to fulfill
                                                the disclosure purpose.</p><b>
            <p>Children</p></b>
                                            <p>We do not knowingly collect, maintain, or use Personal Information from children under age 13. If you are under age 13, do not share Personal Information with us.</p><b>
            <p>Consent, Retention, and Access</p></b>
                                            <p>When you provide Personal Information to us, you are expressly consenting to our collection, use, and disclosure of your Personal Information as described in this Privacy Statement. If you do not consent to
                                                our collection, use, or disclosure of your Personal Information as described in this Privacy Statement, then do not share Personal Information with us. If you choose to withdraw your consent for specific
                                                uses or disclosures, please notify us through the Contact Information listed below. However, there are limited situations in which applicable laws require or allow us to collect, use, or disclose Personal
                                                Information without your consent. These situations include, for example, law enforcement and compliance activities.
                                            </p>
                                            <p>We keep your Personal Information only as long as we need it for the reasons it was collected. When your Personal Information is no longer required for our purposes, we have procedures to destroy, delete, erase,
                                                or convert it into an anonymous form.</p>
                                            <p>The principal place in which we hold Personal Information is Marysville, Ohio.</p>
                                        </font>
                                        <p>
                                            <font face="Arial" size="2">At your request, we will provide you with reasonable access to your Personal Information so that you can review what we have stored and, if you choose, request corrections to it. After you request access, we
                                                will provide the Personal Information that you request as soon as practically possible and generally no later than thirty days following the request. If you wish to correct your Personal Information, please
                                                submit a copy of the Personal Information through the Contact Information, together with a clear explanation of what you believe should be corrected.</font>
                                            <font face="Arial" size="3"> </font>
                                            <font face="Arial" size="2">Where information will not or cannot be disclosed, we will tell you the reasons for non-disclosure.
                                            </font>
                                        </p>
                                        <font face="Arial" size="2"><b>
            <p>Dispute Resolution</p></b>
                                            <p>Please direct questions or concerns about the use or disclosure of Personal Information to us through the Contact Information. We will investigate and attempt to resolve complaints and disputes regarding use
                                                and disclosure of Personal Information described in this Privacy Statement. For complaints that cannot be resolved, we will make available an independent dispute resolution process.
                                            </p><b>
            <p>Security</p></b>
                                            <p>We use commercially reasonable efforts to keep your Personal Information and Web Site Use Information secure. We endeavor to use appropriate physical, administrative, and technical security to protect against
                                                any loss, misuse, unauthorized access, disclosure, modification, or inadequate disposal or destruction of Personal Information.
                                            </p>
                                            <p>We allow access to Personal Information only by employees who need to view that information.</p>
                                            <p>If an employee misuses Personal Information, we will take disciplinary action, up to and including termination of employment. If a third party misuses Personal Information, we will take action, up to and including
                                                termination of any agreement between Honda and that third party.</p>
                                            <p>When you click on a link on any of the Web Sites that takes you to a web site operated by another company, you will be subject to that web site's privacy policies. WE DO NOT REPRESENT OR WARRANT THAT PERSONAL
                                                INFORMATION OR WEB SITE USE INFORMATION WILL BE PROTECTED AGAINST LOSS, MISUSE, OR ALTERATION BY THIRD PARTIES.
                                            </p><b>
            <p>Contact Information</p></b>
                                        </font>
                                        <p>
                                            <font face="Arial" size="2">In the event of questions about (i) access to your Personal Information, (ii) our collection, use, management, or disclosure of Personal Information, or (iii) this Privacy Statement</font>
                                            <font face="Arial" size="3">, </font>
                                            <font face="Arial" size="2">contact us at:
                                            </font>
                                        </p>
                                        <p>
                                            <a href="mailto:copyright@ham.honda.com">
                                                <font face="Arial" size="2">Privacy@ham.honda.com</font>
                                            </a>
                                        </p>
                                        <font face="Arial" size="2">
                                            <p>Privacy Officer<br>Legal Department<br>Honda of America Mfg., Inc.
                                                <br>24000 Honda Parkway<br>Marysville, Ohio 43040<br>(937) 644-6621, M-F, 6:30 A.M. to 3:30 P.M. (Eastern Standard Time)</p><b>
            <p>Effective Date</p></b>
                                            <p>This Privacy Statement is effective as of May 1, 2004.</p><i>
            </i></font>
                                        <p>
                                            <font face="Arial" size="2"><i>VERSION 1.1</i></font>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end MESSAGE TABLE -->
                        <!-- begin BUTTON TABLE -->
                        <table cellspacing="0" cellpadding="0" width="760" border="0">
                            <tbody>
                                <tr>
                                    <td height="5"><img height="5" src="" width="1" border="0"><img height="5" src="" width="1" border="0"><img height="5" src="" width="1" border="0">
                                        <p><input style="FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #990000; BORDER-BOTTOM-COLOR: #990000; COLOR: #ffffff; BORDER-TOP-COLOR: #990000; BACKGROUND-COLOR: #990000; BORDER-RIGHT-COLOR: #990000" onclick="window.close();"
                                                type="button" value="Close" name="Close">
                                            <!-- end MESSAGE TABLE -->
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end BUTTON TABLE -->
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>