.btn-space {
    margin-right: 1px;
    margin-bottom: 4px;
    width: 190px;
}

tr:nth-child(even) {
    background-color: #ffff;
}

table {
    border-color: white;
}

.hidetbl {
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 1000ms;
}

.showtbl {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 500ms, opacity 1500ms;
}